@use "./mixins/mixins" as mix;

.details {
  margin-top: 80px;
  &__title {
    display: block;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 32px;
    width: min(89.74%, 494px);
    text-align: left;
    border-bottom: 1px solid var(--btn-and-text-color);
    margin-bottom: 24px;
    margin-left: auto;

    @include mix.media-min(920px) {
      margin-bottom: 140px;
    }
  }

  &__container {
    @include mix.media-min(540px) {
      --container-width: 400px;
    }
    @include mix.media-min(740px) {
      --container-width: 600px;
    }
    @include mix.media-min(920px) {
      --container-width: 1085px;
    }
  }

  &__item {
    @include mix.media-min(740px) {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: end;
    }

    @include mix.media-min(920px) {
      flex-direction: row;
      align-items: center;
      column-gap: 120px;
      padding-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:nth-child(2) {
      width: 100%;
      flex-direction: row-reverse;

      @include mix.media-max(920px) {
        flex-direction: column;
      }
    }

    &-img {
      width: 100%;
      picture {
        display: block;
        width: 100%;
      }
      img {
        display: block;
        margin: 0 auto;
        border-radius: 15px;
        object-fit: cover;
        margin-bottom: 8px;

        @include mix.media-min(920px) {
          margin-bottom: 0;
        }
        @include mix.media-max(640px) {
          max-width: 200px;
        }
      }
    }
    p {
      font-size: 12px;
      font-weight: 300;
    }
  }

  &__right {
    @include mix.media-min(920px) {
      flex: 50% 1 0;
    }
    @include mix.media-max(350px) {
      padding-inline: 5px;
    }
  }

  &__item-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
